@if(loading){
    <mat-spinner></mat-spinner>
}@else{
<mat-toolbar class="blue-primary-toolbar">
    <h4>Review the contract before submission</h4>
    <span class="spacer"></span>
    <button mat-raised-button >Reject</button>
</mat-toolbar>
<div class="container">
    <div class="terms" [innerHTML]="contract?.terms"></div>
    <div class="header">
        <button
            id="submit-template"
            style="margin-top: 20px"
            mat-raised-button
            (click)="submit()"
        >
            Submit
        </button>
    </div>
</div>
}
