.container{
    padding: 20px;
}

.terms{
    height: 80vh;
}

.header{
    height: 10vh;
}

.spacer {
    flex: 1 1 auto;
}

.blue-primary-toolbar {
    background-color:#93C5FD; /* Material Blue 500 */
    color: white; /* Ensures text is readable */
}
  
