.container{
    padding: 20px;
    padding-top: 10vh;
}

.header{
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    height: 10vh;
}

.spacer {
    flex: 1 1 auto;
}

.blue-primary-toolbar {
    background-color:#93C5FD; /* Material Blue 500 */
    color: white; /* Ensures text is readable */
    position: fixed;
}
  
