<form class="form-grid" [formGroup]="recipientForm">
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input
        matInput
        name="fullName"
        formControlName="fullName"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        name="email"
        formControlName="email"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>ID Number</mat-label>
      <input
        matInput
        name="idNumber"
        formControlName="idNumber"
        maxlength="13"
        required
      />
    </mat-form-field>
  </form>
  