<form class="form-grid" [formGroup]="recipientForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        name="name"
        formControlName="name"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input
        matInput
        name="surname"
        formControlName="surname"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        name="email"
        formControlName="email"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>ID Number</mat-label>
      <input
        matInput
        name="idNumber"
        formControlName="idNumber"
        required
      />
    </mat-form-field>
  </form>
  